@import "tailwindcss";

@utility text-overflow {
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-all;
}

.my-shadow {
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  transition: box-shadow 0.3s ease-in-out;
}

.my-shadow:hover {
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.ant-form-item-inline {
  margin-bottom: 10px !important;
  margin-top: 10px !important;
}
